#middle, #right, #left{
  animation-duration: .11;
  animation-delay: .4s;
  animation-iteration-count: 1;
}

body {
  background-color : #44332B;
}
.head{
 font-size : 150px;
 font-family: 'Open Sans', sans-serif;
 padding-top: -30px;
 padding-bottom: -15px;
 margin-top:-23px ;
 margin-bottom: -15px ; 

}  

.jumbotron{
 background-color : #497488; 
padding-bottom: -3px;
  padding-top : 13px;
}

.imgsize{
  height: 350px;
    width: auto;
    /*margin : -32px;*/
  border-radius : 15px;
  outline: 12px red;
  margin:0px;
  margin-top: 0px;
  padding-top: 0px;
}

.quote-main{
  color: white ;
  /*color: #497488; */
  letter-spacing: 3px ;
  font-size: 25px;
  margin:5px;
  padding: 5px;
  overflow : auto;
}

.quote-cite{
	color: gray;
}

.quote{
  margin:3px;
  padding: 4px;
  background-color: #4e3a31;
  animation-duration: .7s;
  animation-delay: .5s;
  animation-iteration-count: 1;
}

.para-text{
  font-size: 20px;
  color : white;
  margin-top: 20px;
  margin-bottom :20px;
  margin-left: 10px;
  margin-right: 10px;
  
  padding-bottom: 0px ;
  font-family: 'Open Sans', sans-serif;
  background-color: #F4AC99;
}



}
.jumbos{
	margin-bottom: -7px;

  animation-duration: .9s;
  animation-delay: .2s;
  animation-iteration-count: 1;
}

.top-flag{
  width: 70px;
  height: auto;
  margin: 10px;
}

.gif {
height: auto; 
width: auto;
margin-top: 0px
margin:5px;
padding: 8px;
padding-top: 0px;
}

